<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <header th:fragment="header">
        <h1 th:text="#{layout.title}">Title</h1>
    </header>

    <footer th:fragment="footer" style="background-color: darkcyan; color:azure; width:100%; padding:0.5rem; position: absolute; bottom: 0;">
        <div style="margin: 0.8rem 0">
            <a th:href="@{/(lang=es)}" style="margin-right: 0.5rem;">ES</a>
            <a th:href="@{/(lang=en)}" style="margin-right: 0.5rem;">EN</a>
        </div>
        <div>
            <p>[[#{layout.page_footer}]] <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Click</a></p>
            <p style="text-align: center; font-weight: 600; font-family: sans-serif; font-size: 1.5rem;">footer</p>
            <form th:action="@{/logout}" method="POST">
                <b style="font-family: sans-serif;"><strong>User: </strong><span sec:authentication="name">Login User</span> |</b>
                <b style="font-family: sans-serif;"><strong>Rol: </strong><span sec:authentication="principal.authorities">User rol</span> |</b>
                <button onclick="this.parentNode.submit()">Log out</button>
            </form>
        </div>
    </footer>
</body>
</html>