<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form th:action="@{/login}" method="POST" style="width: 20rem; padding: 0.8rem 1rem; border: 2px solid gainsboro; box-shadow: 2px 1px 1px gray; margin: 2rem auto; border-radius: 0.5rem;">
        <h2 style="margin: 1.2rem 0 2rem; text-align: center; font-weight: 600; font-family: sans-serif;">Bienvenido!</h2>
        <input type="text" placeholder="username" name="username" style="display: block; margin-bottom: 0.8rem; width: 100%;">
        <input type="password" placeholder="password" name="password" style="display: block; margin-bottom: 0.8rem; width: 100%;">
        <button value="login" type="submit" style="margin: 1rem 0; text-align: center; align-self: center; border-radius: 0.4rem; background-color: darkseagreen; color:aliceblue; padding: 0.4rem 1rem; width: 100%;">Login</button>
    </form>
</body>
</html>