<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot</title>
</head>
<body>
    <h1>Lista de Personas</h1>
    <a th:href="@{/addperson}">[[#{create.person}]]</a>
    <div th:if="${personList != null and !personList.empty}">
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="persona : ${personList}">
                <td th:text="${persona.name}"></td>
                <td th:text="${persona.lastname}"></td>
                <td th:text="${persona.email}"></td>
                <td th:text="${persona.phone}"></td>
                <td style="padding: 0 0.8rem;" ><a th:href="@{/edit/} + ${persona.id}" th:text="Edit"></a></td>
                <td style="padding: 0 0.8rem;"><a th:href="@{/delete(id=${persona.id})}" th:text="Delete"></a></td>
            </tr>
        </table>
    </div>
    <div th:if="${personList == null or personList.empty}">
        <p style="color:firebrick; font-size: 1.2rem; text-align: center;">La lista de personas esta vacia</p>
    </div>
    <footer th:insert="layouts/main :: footer"></footer>
</body>
</html>